*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.first-cont::before{
    content: '';
    position: absolute; 
    z-index: -1;
    margin: -1rem;
    width: 31%;
    border-top: 100px solid  rgb(251,106,25);
	border-right: 55px solid transparent;

}
.nav-sect{
    margin-left: 5rem ;
    font-size: large;
}

.nav-sect, img, ul > li{
    margin-left: 1.4rem ;   
}
 .nav-sect ul > li:hover{
    margin-left: 1.4rem ;  
    background-color: rgb(251,106,25);
}


 .nav-sect img{
    border: 2px dashed rgb(251,106,25);
    border-radius: 50%;
    padding: .3rem;
    width: 40px;
    height: 30px;
    cursor: pointer;
}


.overlay {
    margin: 0;
    width: 100%;
    height: 65vh;
    overflow: hidden;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) , url(img/blog-06.jpg) center center;
    background-size: cover;
    text-align: center;
}

.overlay > h1{
    color: white;
    text-align: center;
    margin-top: 4rem;
    font-size: 4.5rem;

}
.overlay > h4{
    display: inline-block;
    font-size: 2.4rem;
    width: 230px;
    color: white;

}
.overlay > h4:nth-child(2):before{
    content: '';
    font-size: 0.4rem;
    border: 1px solid rgb(251,106,25);
    background-color: rgb(251,106,25);
    padding: 2px 5px;
    position: relative;
    top: -5px;
    left: -5px;
   

}
.overlay > h4:nth-child(3)::after{
    content: '';
    font-size: 0.4rem;
    border: 1px solid rgb(251,106,25);
    background-color: rgb(251,106,25);
    padding: 2px 5px;
    position: relative;
    top: -5px;
    left: 6px;


}


.dropdown > button{
     margin-left: -5rem;
     text-align: center;
}

.dropdown button{
    justify-content: center;
    text-align: center;
    opacity: 0.7;
    height: 70px;
    width: 231px;
    border-right:rgb(10, 10, 10) solid 5px;
}

.dropdown-part {
    margin-left: 15rem;
    margin-top: 2rem;
}

.dropdown button:last-child{
    width: 130px;
    border-right:rgb(10, 10, 10) solid ;
}



.all-categories-btn > button{
    border: 1px solid rgb(11,44,61);
    background-color: rgb(11,44,61)!important;
    padding: 10px 30px;
}
.all-categories-btn > button:first-child{
    border: 1px solid rgb(251,106,25);
    background-color: rgb(251,106,25)!important;
    padding: 10px 30px;
}
.all-categories-btn > button:hover{
    border: 1px solid rgb(251,106,25);
    background-color: rgb(251,106,25)!important;
    padding: 10px 30px;
}


.container{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;

}

.card{
    
    width: 280px;
    margin: 0 -3rem;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.card > img{
    align-self: center;
    justify-content: center;
    text-align: center;
    width: 260px;
    height:  230px;
    margin-left: 0;
    margin-top: 10px;
    margin-right: 0;
    overflow: hidden;
    filter: brightness(0.7);
  
 
}


.card-img-overlay {
    position: relative;
    text-align: center;
}
.card-img-overlay > a{
    
    width: 140px;
    position: absolute;
    border-radius: 15px 0 0 15px;

}
.overlay-imgs {
     cursor: pointer;
    display: flex;
    gap: 4px;
    top: 12.1rem;
    position: relative; 
    color: rgb(251,106,25);

}

.card-title{
line-height: 12px;
font-size: 1rem;
}

.card-title > h5{
line-height: 12px;
font-size: 1rem;
color: rgb(11,44,61);
}

.card-title > h5:nth-child(2){
color: rgb(251,106,25);
font-size: 1rem;
}

.accessory-part{
margin-left: -1.7rem;
display: grid;
grid-template-columns: repeat(4, 1fr);

}

.accessory-part > span{
    font-weight: bold;
    font-size: 0.8rem;
    margin-left: -0.8rem;
}

.card-footers{
    display: flex; 
    justify-content: center;
    position: relative; 
    align-items: center; 
    background-color: rgb(11,44,61);
    color: white;
    height: 10%;
    width: 100%;
}

.card-footers::before{
     content: '';
    position: absolute; 
    z-index: 1;
    margin-right: 10.4rem;
    height: 10%;
    width: 40%;
    overflow: hidden;
    border-top: 34px solid  rgb(251,106,25);
	border-right: 55px solid transparent;
}
.card-footers > h5{
     margin: auto;
      font-size:0.7rem;
      margin-left: 1rem;
      position: relative; 
    z-index: 3;
}

.card-footers > h5:nth-child(2){
     margin: auto;
      font-size:0.7rem;
      margin-right: 1rem;
}


.recent-wrapper2 > h5{
    font-size: 1rem;
    padding: 0 1rem 0 1rem;
}
.recent-wrapper2 > h5::after{
    content: '';
    position: relative;
    bottom: .7rem;
    left: 0.2rem;
    border-bottom: 2px solid rgb(251,106,25);
    padding: 0 0.8rem 0 0.8rem;
}
.recent-wrapper2 > h5::before{
    content: '';
    position: relative;
    left: -0.2rem;
    bottom: .7rem;
    border-bottom: 2px solid rgb(251,106,25);
    padding: 0 0.8rem 0 0.8rem;
}


.overlay-imgs2 > span {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    gap: 4px;
    top: 12.1rem;
    position: relative; 
    color: rgb(255, 255, 255);

}


.our-agent-container{
    text-align: center;
    width: 100%;
    /* margin: 0 3rem; */
   
}

.our-agent-container p{
    text-align: justify;
    width: 70%;
    margin: 1rem auto;
    font-size: 0.9rem;
  
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* BLOG POST */

.success,
.delet,
.error{
    color: white;
    padding: 10px;
    margin: 5px 0 15px 0;
    font-size: 1.8rem;
}

.success{
    background-color: lightgreen;
}
.error{
    background-color: red;
}

.delet{
    background-color: rgb(0, 132, 255);
    
}




/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */



/* FOOTER  FOOOTER  FOOTER FOOTER  FOOOTER  FOOTER  FOOTER  FOOOTER  FOOTER  FOOTER  FOOOTER  FOOTER */
/* FOOTER  FOOOTER  FOOTER FOOTER  FOOOTER  FOOTER  FOOTER  FOOOTER  FOOTER  FOOTER  FOOOTER  FOOTER */

.jumbotron-fluid{
    background-color: rgb(11,44,61)!important;
    position: relative;
    bottom:0;
}

.logo-text{
    position: relative;
    left: 0;
    text-align: left;

}

.logo-text img{
    position: absolute;
    left: -4rem;
    top: -4rem;
}
.logo-text span{
    position: absolute;
    left: 1rem;
    font-size: 2rem;
    font-weight: bold;
    top: -4rem;
    color: white;
}
.logo-text > p{
    position: relative;
    left: -2.3rem;
    width: 92%;
    top: -0.6rem;
    color: white;
    line-height: 1.8;
}

.line{
    position: relative;
    left: -3.5rem;
    top: -4rem;
    border-right: solid 2px rgb(255, 255, 255);
    height: 200px;
}

.explore ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    color: white;
}
.explore ul >li{
    line-height: 1;
    width: 120px;
    position: relative;
    top: -3rem;
     left: -2.5rem;
     list-style: none;

}
.explore ul >li:nth-child(5){
    line-height: 1.5;
    position: relative;
    top: -3.2rem;

}
.explore ul >li:hover{
    border-bottom: none;

}

.explore h4{
    color: rgb(251,106,25);
     position: relative;
    left: -1.2rem;
    top: -3rem;

}


.subscribe h3{
font-size: 1rem;
color: white;
 position: relative;
    top: -3rem;
}
.sub-btn:nth-child(2){
font-size: 1.3rem;
color: rgb(0, 0, 0)!important;
padding: 0.3rem 8rem!important;
background-color: white!important;
margin-top: 8px;
 position: relative;
    top: -2rem;
    font-size: 1rem;
}
.sub-btn{
    font-size: 1rem;
font-size: 1.3rem;
color: white!important;
background-color: rgb(251,106,25)!important;
padding: 0.3rem 7rem!important;
margin-top: 8px;
 position: relative;
    
}
.sub-btn:hover{
opacity: 0.9;
}

.line-down{
    position:absolute;
    bottom: 7rem;
    width: 90%;
    border-top: 1px solid white;
}


.footer-last-part{
    display: flex;
    position:absolute;
    left: 3.5rem;
    bottom: 3rem;
}

.copyright-part >h4{
    font-size: 1rem;
    width: 490px;
    position:absolute;
    right: 4rem;
    bottom: 3rem;
    color: white;
}









 