*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.first-cont::before{
    content: '';
    position: absolute; 
    z-index: -1;
    margin: -1rem;
    width: 31%;
    border-top: 100px solid  rgb(251,106,25);
	border-right: 55px solid transparent;

}
.nav-sect{
    margin-left: 5rem ;
    font-size: large;
}

.nav-sect, img, ul > li{
    margin-left: 1.4rem ;   
}
  ul > li:hover{
    margin-left: 1.4rem ;      
    border-bottom: 2px solid rgb(251,106,25);
}


 .nav-sect img{
    border: 2px dashed rgb(251,106,25);
    border-radius: 50%;
    padding: .3rem;
    width: 40px;
    height: 30px;
    cursor: pointer;
}


.overlay {
    margin: 0;
    width: 100%;
    height: 65vh;
    overflow: hidden;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) , url(img/blog-06.jpg) center center;
    background-size: cover;
}

.overlay > h2, h4{
    color: white;
    text-align: center;
    margin-top: 4rem;

}

.dropdown > button{
     margin-left: -5rem;
     text-align: center;
}

.dropdown button{
    justify-content: center;
    text-align: center;
    opacity: 0.7;
    height: 70px;
    width: 231px;
    border-right:rgb(10, 10, 10) solid 5px;
}

.dropdown-part {
    margin-left: 15rem;
    margin-top: 2rem;
}

.dropdown button:last-child{
    width: 130px;
    border-right:rgb(10, 10, 10) solid ;
}


.go-part {
    color:white!important;
    font-weight: bolder!important;
    font-size: 1.6rem!important;
    background-color: rgb(251,106,25)!important;
    height: 9vh;
    position: relative;
    left: -8rem;
    top: .4rem;
    cursor: pointer;
}
.go-part:hover{
    opacity: 0.9;
}

/* WHO WE ARE SECTION */
/* WHO WE ARE SECTION */

.container-for-who-are-we{
    background-color: rgb(228, 228, 228);
    height: 100vh;
}

.who-are-we{
    text-align: center;
    color: rgb(11,44,61);
}
.who-are-we img{
    margin-top: 1rem;

}

.who-are-we-content-right{
    margin-left: 5rem;
   position: relative;
}
.who-are-we-content-right img{
    border: 2px dashed rgb(251,106,25); 
   position: absolute;
   border-radius: 50%;
   top: 4rem;
    left: 20rem;
    padding: .4rem;
    
}

/* LEFT SIDE OF CONTENT */
.who-are-we-content-wrapper{
    position: relative;
}
.who-are-we-content-left{
    top: 0;
    right: 0;
    position: absolute;
    margin-right: 5rem;
}
.who-are-we-content-left img{
    border: 2px dashed rgb(251,106,25); 
   position: absolute;
   border-radius: 50%;
    padding: .4rem;
    top: 4rem;
    right: 23rem;
    
}
.who-are-we-content-left-1{
    top: 10rem;
    right: 0;
    position: absolute;
    margin-right: 5rem;
}
.who-are-we-content-left-1 img{
    border: 2px dashed rgb(251,106,25); 
   position: absolute;
   border-radius: 50%;
    padding: .4rem;
    top: 4rem;
    right: 23rem;
    
}
.who-are-we-content-left-2{
    top: 20rem;
    right: 0;
    position: absolute;
    margin-right: 5rem;
}
.who-are-we-content-left-2 img{
    border: 2px dashed rgb(251,106,25); 
   position: absolute;
   border-radius: 50%;
    padding: .4rem;
    top: 4rem;
    right: 23rem;
    
}

.recent-wrapper{
    margin-top: 1rem;
    text-align:center;
}
.recent-wrapper > h5{
    font-size: 1rem;
    padding: 0 1rem 0 1rem;
}
.recent-wrapper > h5::after{
    content: '';
    position: relative;
    bottom: .7rem;
    border-bottom: 2px solid rgb(251,106,25);
    padding: 0 1rem 0 1.6rem;
}
.recent-wrapper > h5::before{
    content: '';
    position: relative;
    bottom: .7rem;
    border-bottom: 2px solid rgb(251,106,25);
    padding: 0 1.6rem 0 1rem;
}

.container{
    display: flex;
    justify-content: space-evenly;

}

.card{
    
    width: 280px;
    margin: 0 -3rem;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.card > img{
    align-self: center;
    justify-content: center;
    text-align: center;
    width: 260px;
    height:  230px;
    margin-left: 0;
    margin-top: 10px;
    margin-right: 0;
    overflow: hidden;
    filter: brightness(0.7);
  
 
    
}


.card-img-overlay {
    position: relative;
    text-align: center;
}
.card-img-overlay > a{
    
    width: 140px;
    position: absolute;
    border-radius: 15px 0 0 15px;

}
.overlay-imgs {
     cursor: pointer;
    display: flex;
    gap: 4px;
    top: 12.1rem;
    position: relative; 
    color: rgb(251,106,25);

}

.card-title{
line-height: 12px;
font-size: 1rem;
}

.card-title > h5{
line-height: 12px;
font-size: 1rem;
color: rgb(11,44,61);
}

.card-title > h5:nth-child(2){
color: rgb(251,106,25);
font-size: 1rem;
}

.accessory-part{
margin-left: -1.7rem;
display: grid;
grid-template-columns: repeat(4, 1fr);

}

.accessory-part > span{
    font-weight: bold;
    font-size: 0.8rem;
    margin-left: -0.8rem;
}

.card-footers{
    display: flex; 
    justify-content: center;
    position: relative; 
    align-items: center; 
    background-color: rgb(11,44,61);
    color: white;
    height: 10%;
    width: 100%;
}

.card-footers::before{
     content: '';
    position: absolute; 
    z-index: 1;
    margin-right: 10.4rem;
    height: 10%;
    width: 40%;
    border-top: 34px solid  rgb(251,106,25);
	border-right: 55px solid transparent;
}
.card-footers > h5{
     margin: auto;
      font-size:0.7rem;
      margin-left: 1rem;
      position: relative; 
        z-index: 3;
}

.card-footers > h5:nth-child(2){
     margin: auto;
      font-size:0.7rem;
      margin-right: 1rem;
}








































 